.carousel-item{
    height: 35rem;
    background-color: silver;
    margin:5px;
    background-color:  rgba(231, 130, 130, 0.2);
}
.arrange{
 border: solid black;
 border-radius: 5px;
 height: 15rem;
 margin: 5px; 
 padding:5px;

}
@media (width:780px)
{
 .arrange{
   height: 20rem;
 }
 .carousel-item{
   height: 45rem;
 }
}
@media (width:300px)
{
 .arrange{
   height: 30rem;
 }
 .carousel-item{
   height: 60rem;
 }
}
.word-wrap
{word-wrap: break-word;}